#calendar{
	width: 450px;
	height:  570px;
	position: absolute;
	color: white;
	cursor: default;
	right: 0;
	bottom: 4.5%;
	display: none;
}
p{
	margin: 0;
}
a{
	color:white;
	cursor: default;
	text-decoration: none;
}
#mask{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .7;
}
#content{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 410px;
	height: 530px;
	padding: 20px;
}
#time{
	font-size: 38px;
	margin: 5px 0;
}
#date{
	color: #4590ca;
	font-size: 20px;
	cursor: pointer;
	display: block;
}
#date:hover{
	color: #ccc;
}
#setDate{
	margin-top: 30px;
	font-size: 28px;
}
#setDate a{
	color: #dddddd;
}
#setDate a:hover{
	color: white;
}
#setDate p{
	float: right;
	margin-right: 24px;
}
#setDate p a{
	float: left;
	margin-left: 30px;
	transform: rotate(90deg);
	font-weight: bold;
	font-size: 34px;
}
#weeks{
	height: 51px;
	margin-top: 10px;
}
#weeks a,#everyDay a{
	text-align: center;
	line-height: 51px;
	font-size: 22px;
	float: left;
	height: 51px;
	width: 58px;
}
#everyDay a:hover{
	outline: 3px solid #999999;
}
#everyDay .active{
	background-color: #0078d7;
}
#everyDay .old{
	color: #999999;
}