/*桌面的样式*/
			#main{
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
			#desktop{
				width: 100%;
				height: 95.56%;
				background: url(../img/desktopbg/waterbg.png) no-repeat;
				background-size: 100% 100%;
				position: relative;
			}
/*#deskicon 装桌面图标的ul 每个li一个图标*/
			#deskicon{
				float: left;
			}
/* 结构是一个li里一个div包着图标图片，下面一个P标签装文字 方便*/
			#deskicon li{
				width: 104px;
				height: 11.18%;
				position: absolute;
			}
			/* #deskicon li:nth-of-type(1){
				top: 30px;
				left: 35px;
			}
			#deskicon li:nth-of-type(2){
				top: 160px;
				left: 35px;
			}
			#deskicon li:nth-of-type(3){
				top: 290px;
				left: 35px;			}
			#deskicon li:nth-of-type(4){
				top: 420px;
				left: 35px; 
			}
			#deskicon li:nth-of-type(5){
				top: 550px;
				left: 35px;
			}
			#deskicon li:nth-of-type(6){
				top: 680px;
				left: 35px;
			}
			#deskicon li:nth-of-type(7){
				top: 30px;
				left: 163px;
			}
			#deskicon li:nth-of-type(8){
				top: 160px;
				left: 163px;
			}
			#deskicon li:nth-of-type(9){
				top: 290px;
				left: 163px;			}
			#deskicon li:nth-of-type(10){
				top: 420px;
				left: 163px; 
			}
			#deskicon li:nth-of-type(11){
				top: 550px;
				left: 163px;
			}
			#deskicon li:nth-of-type(12){
				top: 680px;
				left: 163px;
			} */
			#deskicon div{
				width: 80px;
				height: 78px;
				text-align: center;
				margin: 0 auto;
				overflow: hidden;
			}
			#deskicon img{
				width: 79px;
				height: 82px;
				vertical-align: middle;
				margin-top: 10px;
			}
			#deskicon li:nth-of-type(1) img{
				height: 70px;
			}
			#deskicon p{
				height: 22px;
				font-size: 14px;
				text-align: center;
				color: #fff;
			}
			#deskicon input{
				width: 104px;
				height: 22px;
				display: none;
			}
			#deskicon li.active{
				background-image: url(../img/desticon/checkedbg.png);
			}
/*任务栏*/
			#taskbar{
				width: 100%;
				height: 4.44%;
				background-image: url(../img/desktopbg/taskbar.png);
				background-size: 100% 100%;
				overflow: hidden;
			}
/*右键菜单*/
			#menu{
				position: absolute;
				top: 20px;
				right: 100px;
				width: 316px;
				height: 556px;
				border: 2px solid #999a9b;
				border-radius: 2px;
				background: rgba(255,255,255,.8);
				padding-top: 5px;
				display: none;
			}
			#menu li{
				width: 100%;
				height: 38px;
				text-indent: 50px;
				font: 14px/41px "微软雅黑";
				font-weight: 600;
				color: #676767;
				position: relative;
			}
			#desktop #menu li.active{
				background-color: rgba(160,160,160,.4);
			}
			#menu i{
				position: absolute;
				top: 16px;
				right: 20px;
				transform: rotate(-46deg);
				width: 8px;
				height: 8px;
				border-bottom: 2px solid #676767;
				border-right: 2px solid #676767;
			}
			#menu>li:nth-of-type(1){
				background: url(../img/menu/check.png) no-repeat;
				background-position: 20px 12px;
			}
			#menu>li:nth-of-type(2){
				background: url(../img/menu/sort.png) no-repeat;
				background-position: 20px 12px;
			}
			#menu>li:nth-of-type(3){
				background: url(../img/menu/break.png) no-repeat;
				background-position: 20px 12px;
			}
			#menu>li:nth-of-type(4){
				background: url(../img/menu/paste.png) no-repeat;
				background-position: 20px 12px;
			}
			#menu>li:nth-of-type(5){
				background: url(../img/menu/pasteexe.png) no-repeat;
				background-position: 20px 12px;
			}
			#menu>li:nth-of-type(6){
				background: url(../img/menu/quash.png) no-repeat;
				background-position: 20px 12px;
			}
			#menu>li:nth-of-type(7){
				background: url(../img/menu/gitgui.png) no-repeat;
				background-position: 20px 12px;
			}
			#menu>li:nth-of-type(8){
				background: url(../img/menu/gitbash.png) no-repeat;
				background-position: 20px 12px;
			}
			#menu>li:nth-of-type(9){
				background: url(../img/menu/graph.png) no-repeat;
				background-position: 20px 12px;
			}
			#menu>li:nth-of-type(10){
				background: url(../img/menu/graph.png) no-repeat;
				background-position: 20px 12px;
			}
			#menu>li:nth-of-type(11){
				background: url(../img/menu/NVIDIA.png) no-repeat;
				background-position: 20px 12px;
			}
			#menu>li:nth-of-type(12){
				background: url(../img/menu/create.png) no-repeat;
				background-position: 20px 12px;
			}
			#menu>li:nth-of-type(13){
				background: url(../img/menu/monitors.png) no-repeat;
				background-position: 20px 12px;
			}
			#menu>li:nth-of-type(14){
				background: url(../img/menu/personal.png) no-repeat;
				background-position: 20px 12px;
			}
/* 2级菜单栏 */
			#menu ul{
				position: absolute;
				/* left: 310px;
				top: 0px; */
				width: 316px;
				border: 2px solid #999a9b;
				border-radius: 2px;
				background: rgba(255,255,255,.8);
				display: none;
			}
/* 框选用的框子*/
			#oBox{
				position: absolute;
				border: 1px dotted #000;
				display: none;
			}

