body,dl,dd,p,h1,h2,h3,h4,h5,h6{
	margin:0;font-size:12px;
	}
ol,ul{margin:0;padding:0;list-style:none;}
a{text-decoration:none;color: #515151;}
img{border:none;}
table{border-collapse: collapse;}
th,td{padding:0;}
form{margin:0;}
input{padding:0;margin:0;outline: none;border:none}
option{padding:0;}
em,i,b{font-style: normal;}
.fl{float: left;}
.fr{float: right;}
.clearFix:after{
	content: "";clear: both;display: block;
	}
body{
	font-family: "微软雅黑";
}